name: Deploy

on:
  workflow_dispatch: {}
  release:
    types: [published]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
          node-version-file: ".node-version"

      - run: pnpm install

      - run: make

      - run: pnpm --filter webcryptopush publish --provenance --no-git-checks
