name: Deploy

on:
  workflow_dispatch: {}
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version-file: ".node-version"

      - run: pnpm install
      - run: make test
      - run: npm install -g npm@latest
      - run: pnpm --filter webcryptopush publish --provenance --no-git-checks
